html {
  background: url(../images/LOROBG.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-family: 'Righteous', cursive;
  font-size: 300px;
  letter-spacing: 10px;
  color: #ffffff;
}

h2 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 150px;
  letter-spacing: 10px;
  color: #FFB800;
}
.back{
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
/*  background:url(../images/LOROBG.png) no-repeat top center #efeff1;
  background-size:cover;*/

}

.thx{
  position: fixed;
  left:50%;
  transform:translateX(-50%);
  bottom: 15px;
}

nav{
  width: 100%;
  position: fixed;
  top:30px;
  text-align:center;
}

nav a{
  font-family: 'Noto Sans', sans-serif;
  font-weight:500;
  text-transform:uppercase;
  text-decoration:none;
  color:#ffffff;
  margin:0 15px;
  font-size:16px;
  letter-spacing:1px;
  position:relative;
  display:inline-block;
}

nav a:before{
  content:'';
  position: absolute;
  width: 100%;
  height: 3px;
  background:#ffffff;
  top:47%;
  animation:out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
nav a:hover:before{
  animation:in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;

}
@keyframes in{
  0%{
    width: 0;
    left:0;
    right:auto;
  }
  100%{
    left:0;
    right:auto;
    width: 100%;
  }
}
@keyframes out{
  0%{
    width:100%;
    left: auto;
    right: 0;
  }
  100%{
    width: 0;
    left: auto;
    right: 0;
  }
}
@keyframes show{
  0%{
    opacity:0;
    transform:translateY(-10px);
  }
  100%{
    opacity:1;
    transform:translateY(0);
  }
}

@for $i from 1 through 5 {
  nav a:nth-child(#{$i}){
    animation:show .2s #{$i*0.1+1}s ease 1 both;
  }
}

/* content */
.container {
  position: absolute;
  top: 700px;
  left: 100px;
}

/* display */
section.view {
  height: 100vh;
  padding: 0px;
}

.title {
  position: fixed;
  left: 320px;
  top: 230px;
  width: 1000px;
}

.release {
  position: relative;
  top: 0px;
  left: 150px;
  width: 1000px;
  margin: 0 auto;
}


#dashboard_mirror_cover {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 214, 107, 0.6);
  z-index: 5;
  width: 100%;
  height: 100%;
  display: none;
}

#dashboard_hide_screen {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  display: none;
}

#dashboard_hide_screen:target,
#dashboard_hide_screen:target + #dashboard_mirror_cover {
  display: block;
  opacity: 2;
}

.cancel {
  display: block;
  position: absolute;
  top: 3px;
  right: 2px;
  background: rgb(245, 245, 245);
  color: black;
  height: 30px;
  width: 35px;
  font-size: 30px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

.about {
  position: relative;
  top: 200px;
  font-weight: 700;
  width: 700px;
  color: #000000;
  font-family:
  /*background-color: #ffffff;*/
  padding: 50px;
  margin: 0 auto;
  font-family: 'Noto Sans', sans-serif;
}
